@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-playfair: 'Playfair Display', serif;
    --radius: 0.5rem;
  }

  html {
    font-family: var(--font-montserrat);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-playfair);
  }
}